$mainBlue: #2f5572;

body{
    color: $mainBlue;
    font-family: 'Roberto',sans-serif;
    color:#333;
    columns: 300px 4;
}

.box{
    a {
        display:block;
    }
    h1{
        color:white;
    }
}